/* universal syles */
* {
    margin: 0;
    padding: 0;
}

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: 0px;
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles */
.display-flex {
    display: flex;
}

/* dark-01 */
.dark-01 {
    color: #131313;
}

/* dark-02 */
.dark-02 {
    color: #424242;
}

/* dark-03 */
.dark-03 {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}


/* Header Styles */

/* Navbar Related Styles */
.navbar {
    justify-content: space-between;
    align-items: center;

}

.nav-links {
    gap: 30px;

}

.nav-item {
    list-style: none;


}

.nav-link {
    text-decoration: none;
    font-weight: 500;

}

.navbar,
.banner {
    max-width: 80%;
    margin: 0 auto;

}

.brand {
    font-size: 3rem;
}

.brand,
.nav-links {
    padding: 50px 0;
}

/* banner styling */
.banner-content {
    max-width: 80%;
    margin: 0 auto;

    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-image {
    max-width: 100%;
}

.banner-image img {
    width: 100%;
}

.btn-primary {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 32px;
    padding: 20px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;
}

/* Main Section styling */
main>section {
    /* margin-top: 130px; */
}

/* Team Section Styling */
.teams-section {
    width: 80%;

    justify-content: center;
    align-items: center;
    margin: 130px auto 0;

}


.team-image {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-right: 40px;
}

.team-image img {
    width: 100%;
}

.team-feature {
    /* flex-direction: column;
    justify-content: center; */
    width: 537px;

}

#medium-text {
    font-weight: 500;
    font-size: 3rem;
}

#bold-blck {
    font-weight: 700;
    font-size: 3rem;
}

#orange-blck {
    font-weight: 700;
    font-size: 3rem;
    color: #FF900E;
}

.feature-title,
.feature-description {
    margin-bottom: 30px;
}


/* Enjoyable Feature Section */
.enjoyable-feature {
    max-width: 80%;

    margin: 130px auto 0;
    justify-content: space-between;


}

.feature-content,
.architect-photo {
    width: 45%;
}

.architect-photo div img {
    width: 100%;
    height: 920px;
}

.feature-main-title {
    border-left: 5px solid #FF900E;
    font-size: 3rem;
    padding-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.title-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.feature-item {
    margin-bottom: 24px;
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.item-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.item-description {
    line-height: 26px;
}

.exprerience-btn {
    padding: 45px 42px;
    background-color: #FF900E;
    margin-top: -75px;
    margin-left: -82px;
    border: none;
    border-radius: 8px;
}

#badge {
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

#expr-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}




/* Responsive Css  */
/* small device */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams-section,
    .enjoyable-feature {
        flex-direction: column;
        width: 100%;
    }

    .banner {
        width: 100%;
    }

    .banner-content {
        max-width: 100%;
        margin: 0 auto;
    }

    .banner-image {
        width: 100%;
    }

    .banner-image img {
        width: 100%;

    }

    .team-image {
        grid-template-columns: 1fr;
    }

    .team-feature {
        width: 80%;
    }


     .feature-content,
     .architect-photo{
        width: 100%;
     }
     .architect-photo div img {
    width: 100%;
    height: auto;
}

.exprerience-btn {
    
    margin-top: -50px;
    margin-left: -30px;
    
}

}